.container {
    display: flex;
    flex-direction: column;
    background-color: #f4f9ff;
}

header {
    width: 1000px;
    margin: 60px auto 0;
    h1 {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        img {
            width: 160px;
            height: 18px;
        }
    }
}

.mainvisual {
    width: 1000px;
    margin: 0 auto 60px;
}

.index {
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    div {
        padding: 30px 200px;
        margin-bottom: 60px;
        h2 {
            color: #333;
            font-size: 18px;
            margin-bottom: 10px;
        }
        ol {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 20px;
            li {
                color: #333;
                font-size: 14px;
            }
        }
    }
}

.detail {
    width: 1000px;
    margin: 0 auto;
    .detail_box {
        width: 600px;
        margin: 0 auto;
        h2 {
            margin-bottom: 10px;
            color: #333;
            font-size: 18px;
        }
        .detail_wrap {
            display: flex;
            gap: 60px;
            picture {
                width: 270px;
                height: 270px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            div {
                display: flex;
                flex-direction: column;
                h3 {
                    font-size: 18px;
                    color: #333;
                    padding-bottom: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    header {
        margin-left: 10px;
        margin-right: 10px;
    }
    .mainvisutl {
        margin: 0 10px;
    }
}
