body {
    background-color: #f4f9ff;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    width: 1000px;
    margin: 60px auto 0;
    h1 {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        img {
            width: 160px;
            height: 18px;
        }
    }
}

.mainvisual {
    width: 1000px;
    margin: 0 auto 60px;
}

.index {
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    div {
        padding: 30px 200px;
        margin-bottom: 60px;
        h2 {
            color: #333;
            font-size: 18px;
            margin-bottom: 10px;
        }
        ol {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 20px;
            li {
                color: #333;
                font-size: 14px;
            }
        }
    }
}

.detail {
    width: 1000px;
    margin: 0 auto 100px;
    .detail_box {
        width: 600px;
        margin: 0 auto;
        h2 {
            margin-bottom: 10px;
            color: #333;
            font-size: 18px;
        }
        .detail_wrap {
            display: flex;
            gap: 60px;
            picture {
                width: 270px;
                height: 270px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .detail_wrap_text {
                display: flex;
                flex-direction: column;
                width: 270px;
                .text_pickup {
                    display: block;
                    border-bottom: #dedede 1px solid;
                    margin-bottom: 16px;
                    h3 {
                        font-size: 18px;
                        color: #333;
                        padding-bottom: 20px;
                    }
                }
                dl {
                    display: flex;
                    flex-direction: column;
                    section {
                        display: flex;
                        justify-content: space-between;
                        padding-right: 35px;
                        dd,
                        dt {
                            color: #333;
                            font-size: 14px;
                        }
                    }
                    section:last-child {
                        border-bottom: #dedede 1px solid;
                        padding-bottom: 16px;
                        margin-bottom: 25px;
                    }
                }
                p {
                    color: #333;
                    font-size: 14px;
                    margin-bottom: 20px;
                }
                a {
                    transition: 1s;
                    /* border-bottom: #333 1px solid; */
                    &:visited,
                    &:link {
                        color: #333;
                        font-size: 14px;
                    }
                    &:hover {
                        letter-spacing: 2.5px;
                        color: #999;
                    }
                }
            }
        }
    }
}

footer {
    width: 600px;
    margin: 0 auto 15px;
    p {
        font-size: 10px;
        color: #333;
        cursor: pointer;
    }
}

@media screen and (max-width: 1024px) {
    header {
        margin-left: 10px;
        margin-right: 10px;
    }
    .mainvisutl {
        margin: 0 10px;
    }
}
