body{
    font-family: ＭＳ Ｐゴシック,sans-serif;
    font-size: 100%;
    padding: 20px;
    background-color: #F0FFBA;
    background-image: url(../htc10_start/htc10_back.jpg);
    background-position: left top;
}

