html {
    font-size: 62.5%;
}

header {
    height: 50px;
    font-size: 1rem;
    color: #FEFEFE;
    background-color: #333;
    padding-left: 5px;
    line-height: 50px;
}

main{
    height: 100vh;
}

main .main_img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

picture{
    height: 220px;
    width: 350px;
    overflow: hidden;
}

.main_img img {
    width: 100%;
    height: auto;
    transition: 0.3s;
}

.main_img img:hover {
    transform: scale(1.1);
}

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal picture {
    width: 60vw;
    height: auto;
}

.modal img {
    width: 100%;
    border: #FEFEFE 20px solid;
} 