* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    section {
        display: flex;
        align-items: center;
        h1 {
            color: tomato;
            background-color: antiquewhite;
            height: 80px;
            width: 100vw;
        }
    }
}

p {
    color: tomato;
    font-size: 40px;
}