:root {
    --role: linear-gradient(#d61717, #ff6b00);
    --textWhite: #fefefe;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.joinClubBtn {
    a {
        width: 160px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-weight: bold;
        color: var(--textWhite);
        border-radius: 12px;
        background-image: var(--role);
        cursor: pointer;
    }
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
