header {
    width: 1000px;
    height: 18px;
    margin: 60px auto 15px;
    h1 {
        width: 180px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        /* margin-bottom: 15px; */
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.main_visual {
    width: 1000px;
    height: 400px;
    margin: 0 auto 60px;
    img {
        width: 100%;
        height: 100%;
    }
}

.index {
    width: 800px;
    padding: 60px;
    background-color: #f5f5f5;
    margin: 0 auto 60px;
    h2 {
        height: 27px;
        margin-bottom: 30px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
    .index_text {
        padding: 30px;
        border: 1px #333 solid;
        ol {
            margin: 0 auto;
            height: 185px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            li {
                font-size: 14px;
                color: #333;
                margin-bottom: 20px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.index_img {
    display: grid;
    width: 800px;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 0 auto 60px;
    .item {
        width: 100%;
        img {
            width: 100%;
        }
    }
}

.detail {
    width: 800px;
    padding: 60px;
    margin: 0 auto 60px;
    background-color: #f5f5f5;
    h2 {
        font-size: 18px;
        text-align: center;
        margin-bottom: 30px;
    }
    .flex {
        width: 680px;
        display: flex;
        dl {
            padding-right: 60px;
            border-right: solid 1px #333;
            dt {
                font-size: 14px;
                font-weight: bold;
            }
            dd {
                font-size: 14px;
                color: #333;
                white-space: nowrap;
                margin-bottom: 10px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
        .text {
            padding-left: 40px;
            p {
                font-size: 14px;
                margin-bottom: 20px;
                color: #333;
            }
            a {
                font-size: 14px;
                color: #111;
                transition: 0.3s;
                &:hover {
                    color: #666;
                }
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    p {
        font-size: 12px;
        color: #333;
    }
}
