html {
    font-size: 62.5%;
}

header {
    height: 60px;
    width: 960px;
    padding: 0 4%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
        width: 120px;
        height: 40px;
        a {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .nav {
        height: 60px;
        ul {
            display: flex;
            align-items: center;
            list-style: none;
            height: 100%;
            li {
                font-size: 1.4rem;
                margin-left: 30px;
            }
        }
    }
}

main {
    .mainVisual {
        height: 600px;
        width: 100vw;
        background-image: url("../images/mainvisual.jpg");
        background-position: center;
        background-size: cover;
    }

    .about {
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        section {
            h2 {
                display: inline;
                font-size: 3.2rem;
                font-weight: bold;
                color: #383e45;
                padding-bottom: 10px;
                border-bottom: #383e45 solid 1px;
            }
        }
        .about_profile {
            margin-top: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            img {
                width: 100px;
                height: 100px;
                border-radius: 100%;
            }
            .about_profile_text {
                display: flex;
                flex-direction: column;
                gap: 10px;
                section {
                    h3 {
                        font-size: 1.6rem;
                    }
                }
                p {
                    font-size: 1.4rem;
                }
            }
        }
    }

    .bicycle {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        section {
            h2 {
                display: inline;
                font-size: 3.2rem;
                font-weight: bold;
                color: #383e45;
                padding-bottom: 10px;
                border-bottom: #383e45 solid 1px;
            }
        }
    }
}
