body{
    font-size: 13px;
    line-height: 1.3em;
    font-family: "ＭＳ Ｐゴシック" , "osaka" , sans-serif;
}

#box{
    width: 600px;
    margin: 0;
    padding: 0;
    position: relative;
    left: 110px;
}

#images{
    position: absolute;
    top: 110px;
}

#text{
    position: absolute;
    top: 110px;
    left: 260px;
}